{% extends "base.html" %}

{% block head_title %}Kittchen Monster Recipes{% endblock %}
{% block body_title %}{{post.title}}{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  {% if user.id == post.author.id or user.is_staff %}
  <a href="{% url 'recipe_edit' post.id %}">(Edit)</a>
  {% endif %}
{% endif %}

<p><strong>by {{ post.author }}</strong></p>
<div style="">
<p class="small-margin"><small><em>Posted: {{post.posted_at}}</em></small></p>
{% if post.posted_at|date:"YmdHis" < post.last_edited|date:"YmdHis" %}
  <p class="small-margin"><small><em>Last Edited: {{post.last_edited}}</em></small></p>
{% endif%}
</div>
  <div class="header-image-container">
    <img src="{{post.images.first.image.url}}" class="header-image">
  </div>
<div>
{% for tag in post.categories.all %}
<a href="{% url 'recipe_browse' %}?filter_by={{category.name}}" class="widget-info-tags" style="font-size: calc(0.5rem + 1vw);">#{{tag.name}} </a>
{% endfor%}
</div>
</br>

<div class="container-inline">
  <div class="container-vertical">
    <div class="far fa-clock"></div> 
    <div>{{post.cooking_time}}'</div>
  </div>
  <div class="container-verticla">
    <div class="fas fa-utensils"></div> 
    <div>{{post.servings}}</div>
  </div>
</div>


<hr>

<h2>Ingredients</h2>
<ul>
{%for ing in post.items.all %}
<p>{{ing.quantity|floatformat}}{{ing.unit}} {{ing.ingredient}}</p>
{% endfor %}
</ul>

<hr>

<h2>Method</h2>
<ul>
{%for direction in post.directions.all %}
<p>{{forloop.counter}}. {{direction.body}}</p>
{% endfor %}
</ul>
<!--
<h2>Gallery</h2>
<div class="widget-container">
  {% for img in post.images.all %}
    <a href="{{img.image.url}}">
      <div
        class="widget-image-square"
        style="background-image:
              linear-gradient(to bottom, rgba(37,37,37,0) 30%, rgba(37,37,37,0.3) 60%, rgba(37,37,37,1)),
              url({{img.image.url}});">
      </div>
    </a>

  {% endfor %}

</div>


{% for img in post.images.all %}
  <img src="{{img.image.url}}">
{% endfor %}
-->
{% endblock %}
