{% extends "base.html" %}

{% block head_title %}Kittchen Monster Recipes{% endblock %}
{% block body_title %}{{post.title}}{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  {% if user.id == post.author.id or user.is_staff %}
  <a href="{% url 'recipe_edit' post.id %}">(Edit)</a>
  {% endif %}
{% endif %}

<p><strong>by {{ post.author }}</strong></p>
<p><small><em>Posted: {{post.posted_at}}</em></small></p>
{% if post.posted_at|date:"YmdHis" < post.last_edited|date:"YmdHis" %}
  <p><small><em>Edited: {{post.last_edited}}</em></small></p>
  {% endif%}
  <div class="header-image-container">
    <img src="{{post.images.first.image.url}}" class="header-image">
  </div>

<h2>Ingredients</h2>
<ul>
{%for ing in post.ingredienttable_set.all %}
<p>{{ing.quantity}} {{ing.unit}} {{ing.ingredient}}</p>
{% endfor %}
</ul>

<h2>Method</h2>
<ul>
{%for direction in post.directions.all %}
<p>{{direction.position}}. {{direction.body}}</p>
{% endfor %}
</ul>
<h2>Gallery</h2>
<div class="widget-container">
  {% for img in post.images.all %}
    <a href="{{img.image.url}}">
      <div
        class="widget-image-square"
        style="background-image:
              linear-gradient(to bottom, rgba(37,37,37,0) 30%, rgba(37,37,37,0.3) 60%, rgba(37,37,37,1)),
              url({{img.image.url}});">
      </div>
    </a>

  {% endfor %}

</div>

{% endblock %}

<!--
{% for img in post.images.all %}
  <img src="{{img.image.url}}">
{% endfor %}
-->
