{% extends "base.html" %}

{% block title %}<title> Add Recipe</title>{% endblock%}

{% block content %}
<h2>Add Recipe</h2>
<p>Author: {{ user.get_username }}</p>
<form action="" method="post">
  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}
  {% csrf_token %}

  {{ form.non_form_errors }}
  <table>
    {{ form.as_table }}
  </table>
  <p>
  <input type="submit" value="Add recipe">
  &nbsp; &nbsp;
  <a href="{% url 'home' %}">Cancel</a>
  </p>
</form>
{% endblock %}
