{% extends "base.html" %}

{% block title %}<title> Add Ingredients</title>{% endblock%}

{% block content %}
<!--
<div id="shopping-list">
  <h2>List</h2>
  <ul class="list-group">
    <span v-for="(item, index) in itemList">
      <li class="list-group-item d-flex justify-content-between align-items-center"> 
        <p v-show="!item.inEditMode">[[item.quantity]]</p>
        hello world
        <div>
          <button class="btn btn-primary">Edit</button>
          <button class="btn btn-primary">Delete</button>
        </div>
      </li>


    </span>
  </ul>
</div>
-->
<div id="shopping-list">
  <h2>Add ingredients</h2>
  <div id='component-demo'>
    <form-top></form-top>
  </div>
  <!--
  <input type="text" class="form-control" placeholder="New ingredient"
    v-model="newIngredient" @keyup.enter="addIngredient">
  -->
  <p><small><em> Number of ingredients: [[itemNum]]</em></small></p>
  </br> 
  <div class="list-group">
    <div class="list-group-item d-flex justify-content-between align-items-center" 
      v-for="(item, index) in ingredients" :key="ingredients.id" >
      <div>
        <div class="" v-if="!item.editing" @click="editIngredient(item)"> [[item.itemName]] </div>
        <input v-else class="form-control" type="text" v-model="item.itemName"
        @blur="doneEdit(item)" @keyup.enter="doneEdit(item)" @keyup.esc="cancelEdit(item)" v-focus>
      </div>
      <button class="btn btn-sm " @click="removeIngredient(index)">
        &times;
      </button>
    </div>
  </div>
  <p>{{ form.as_p}}</p>

</div>



{% endblock %}
<!--
  <p>{{unit}} {{unit.ingredienttable_set.get_unit_display}} </p>

-->
<!-- -->


{% block scripts %}
<script>

  Vue.component('form-top', {
    delimiters: ['[[', ']]'],
    props: ['text'],
    template:
    `<div class="input-group">
      <input type="text" class="form-control input-large" placeholder="New ingredient">
      <select class="custom-select" id="inputGroupSelect01">
        <option selected> </option>
        <option>unit</option>
        {% for unit in recipes%}
        <option>{{unit}}</option>
        {% endfor %}
      </select>

      <input type="text" class="form-control input-small" placeholder="Quantity">
      <button class="btn btn-outline-secondary" type="button">Ok</button>
    </div>
    `
  })
  new Vue({ el: '#component-demo', })

  var vm = new Vue({
    el: '#shopping-list',
    delimiters: ["[[", "]]"],
    data () {
      return {
        newIngredient: '',
        idForIngredient: 3,
        beforeEditCache: '',
        ingredients: [
          { 'id': 1, 'itemName': 'Apples', 'quantity': 2, 'editing': false},
          { 'id': 2, 'itemName': 'Oranges', 'quantity': 4, 'editing': false},
        ]

      }
    },
    directives: {
      focus: {
        inserted: function (el) {
          el.focus()
        }
      }
    },
    methods: {
      addIngredient() {
        if(this.newIngredient.trim().length == 0) {
          return
        }
        this.ingredients.unshift({
          id: this.idForIngredient,
          itemName: this.newIngredient,
          editing: false
        })

        this.newIngredient= '';
        this.idForIngredient++;
      },
      removeIngredient(index) {
        this.ingredients.splice(index,1)
      },
      editIngredient(item) {
        this.beforeEditCache = item.itemName
        item.editing = true
      },
      doneEdit(item) {
        if (item.itemName.trim().length == 0) {
          item.itemName = this.beforeEditCache
        }
        item.editing = false

      },
      cancelEdit(item) {
        item.itemName = this.beforeEditCache
        item.editing = false
      },

    },
    computed: {
      itemNum () {
        return this.ingredients.length
      }
    }

  });

// Define component called todo-item
</script>
{% endblock %}
