.btn-round {
    border-radius: 30px;
    margin: 0;
}

.form-wrapper {
    /*display: flex;*/
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.form-items-wrapper {
    display: inline-block;
    flex: 1;
    max-width: 100%;
    margin-top: 1 auto;
    text-align: center;
}

.no-marker {
    padding: 0;
    list-style-type: none;
    display: table;
    flex-wrap: wrap;
    width: 100%;
}

li.item-add-list {
     display: flex;
     margin-top: 0.2em;
     margin-bottom: 0.2em;
 }
 ul.errorlist {
    list-style-type: none;
    padding: 0;
     margin-bottom: 0;
 }

form.ingredients{
     display: flex;
     max-width: 100%
 }

